
            <div class="row center-lg">
    <div class="col image-col right-marg" *ngIf="chambre">
        <div class="side-by-side-container">
            <div class="large-image-container">
                <img [src]="chambre[0].image" alt="room-image-large" class="large-image">
            </div>
            <section class="stacked-image-container">
                <div><img [src]="chambre[0].image" alt="room-image" class="small-image"></div>
                <!-- Add more images if necessary -->
            </section>
        </div>
    </div>
    <div class="col">
        <br>
        <h2 class="offers-title">Numéro : {{ chambre[0].numero }}</h2>
        <h2 class="offers-title">Type : {{ chambre[0].type }}</h2>
        <h2 class="offers-title">Prix : {{ chambre[0].prix }}</h2>
        <p class="offers-sub-title"><strong>Description : </strong>
            {{ chambre[0].description }}
        </p>
        <ul class="offers-list">
            <li>
                <div>
                    <img src="assets/img/check-square.svg" alt="tick" class="list-icon">
                    <p class="list-text">Free Wi-Fi Service</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/img/check-square.svg" alt="tick" class="list-icon">
                    <p class="list-text">Best Rate Guarantee</p>
                </div>
            </li>
            <li>
                <div>
                    <img src="assets/img/check-square.svg" alt="tick" class="list-icon">
                    <p class="list-text">Free DSTV Access</p>
                </div>
            </li>
        </ul>
    </div>
</div>

 