<div class="jumbotron-container">
		
    <div class="jumbotron-left1">
        <form action="" class="jumbotron-form1">
            <table>
                <tr><td><label>Nom : </label></td>
                <td><input class="input-res" placeholder="Nom" formControlName="nom"></td></tr>
                <tr>
                    <td><label>Prénom : </label></td>
                    <td> <input class="input-res" type="text"  placeholder="Departure Date" onfocus="(this.type='date')" formControlName="nom"></td>
                </tr>
                <tr>
                    <td><label>Numéro de téléphone : </label></td>
                    <td> <input class="input-res" type="text"  placeholder="Departure Date" onfocus="(this.type='date')" ></td>
                </tr>
                <tr>
                    <td><label  for="departure">Date d'arrivée : </label></td>
                    <td> <input class="input-res" type="text" name="departure_date" placeholder="Departure Date" onfocus="(this.type='date')" ></td>
                </tr>
                <tr>
                    <td><label  for="departure">Date de départ : </label></td>
                    <td> <input class="input-res" type="text" name="departure_date" placeholder="Departure Date" onfocus="(this.type='date')" ></td>
                </tr>
                
            </table>
                
                

                <input class="input-min" type="text"  placeholder="Arrival Date" onfocus="(this.type='date')" ><br>
                
               
               
               
                    <tr>
                        <td class="td1"><button type="button" class="rates">CHECK RATES</button></td>
                    </tr>
                
                
        </form>
    </div>
</div>
